* {
  box-sizing: border-box;
}
:root {
    --site-widht: 1920px;
    --orange: #FF9900;
    --gray: #333333;
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #CACACA;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--gray);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

body {
    background: #E5E5E5;
    z-index: -1;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 75px;
}

.header__container {
    margin-bottom: 1px;
    padding: 0px 88px 0 75px;
    height: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.logo {
    background-image: url(/img/logo-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 224px;
    height: 72px;
}

.nav {
    margin-left: auto;
}

.nav__list {
    margin-top: 5px;
  }

.header__left {
    display: flex;
    align-items: center;
}

.nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav__item:first-child {
    margin-left: 0px;
}

.nav__item {
    margin-left: 85px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1px;
    white-space: nowrap;
}

.header__search {
    margin-left: 71px;
    margin-top: 5px;
    width: 25px;
    height: 26px;
    background-image: url(/img/Search.svg);
    background-color: transparent;
    border: none;
}

.slide-container {
    padding: 0 75px;
}

.slide {
    margin-bottom: 102px;
    padding: 103px 78px 91px;
    position: relative;
    background-image: url(/img/slide/low-angle-photo-of-balconies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__slide {
    max-width: 840px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
    color: var(--white);
    letter-spacing: 0.5px;
}

.slide__text {
    max-width: 840px;
    margin-bottom: 97px;
    font-weight: 700;
    font-size: 23.46px;
    line-height: 28.6px;
    color: var(--white);
    letter-spacing: 0.15px;
}

.about-us {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.headers {
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
}

.about-us__header {
    margin-bottom: 22px;
}

.about-us__text {
    margin-bottom: 43px;
    max-width: 70%;
    line-height: 32px;
    letter-spacing: -0.06px;
}

.tultip {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/tultip.svg);
    background-size: cover;
    vertical-align: text-bottom;
}

.about-us-block {
    display: flex;
    justify-content: space-between;

}

.about-us__col {
    flex: 0 1 49.1%;
}

.about-us__left {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(/img/slide/Rectangle_2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.about-us__left__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 44px 68px 42px 54px;
}

.left__bottom__text {
    display: flex;
    max-width: 68%;
    font-weight: 700;
    color: var(--white);
    line-height: 31.5px;
    letter-spacing: 0.03px;
}

.btn-chk {
    display: flex;
    align-items: center;
}

.about-us__right {
    margin-left: 30px;
}

.col-2 {
    flex: 0 0 49%;
}

.right-block1 {
    margin-bottom: 30px;
    padding: 67px 110px 66px 300px;
    background-image: url(/img/slide/Group-25.svg);
    background-position: 8.8% 45%;
    background-repeat: no-repeat;
    border: 1px solid var(--light-gray);
}

.right-block2 {
    padding: 63px 110px 67px 300px;
    background-image: url(/img/slide/Group-24.svg);
    background-position: 8.8% 38%;
    background-repeat: no-repeat;
    border: 1px solid var(--light-gray);
}


.right-blocks__text {
    line-height: 32px;
}

.right-blocks__text__header {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.11px;
}

.how-we-work {
    margin-bottom: 100px;
}

.how-we-work__header {
    margin-bottom: 49px;
}

.step {
    margin-bottom: 47px;
    max-width: 475px;
}

.step-list {
    display: flex;
    justify-content: space-between;
}

.step-list-item {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.br {
    display: none;
}

.how-we-work-block {
    display: flex;
    justify-content: space-between;
    place-items: flex-end;
}

.consult-block {
    padding-left: 2px;
    order: -1;
}

.consult-block__text {
    padding-bottom: 60px;
    max-width: 90%;
    line-height: 32px;
}

.consult-img_sm {
    display: none; 
}

.consult-slide {
    margin-top: 11px;
    background-image: url(/img/Rectangle-18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: stretch;
  }

.consult-img {
    width: 100%;
    height: 100%;
}

.faq {
    margin-bottom: 100px;
}

.faq__header {
    margin-bottom: 38px;
}

.faq__list {
    display: flex;
    flex-direction: column;
}

.faq__list__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-left: 5px;
    align-items: center;
    height: 114px;
    display: flex;
    border-bottom: 1px solid var(--light-gray);
}

.faq__list__item:first-child {
    height: 115px;
    border-top: 1px solid var(--light-gray);
}

.cross {
    margin-left: auto;
}

.footer {
    background: #222222;
}

.footer-blocks {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    margin-top: 50px;
    margin-bottom: 80px;
    flex: 0 0 20.2%;
}

.footer-nav {
    margin-top: 15px;
    margin-bottom: 98px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.footer-nav__item {
    margin-bottom: 15px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-gray);
}

.footer-social {
    margin-top: auto;
    max-width: 230px;
    height: 60px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer__center {
    margin-top: 59px;
    flex: 0 0 32.6%;
}

.request__header {
    margin-bottom: 23px;
    padding-left: 3px;
    text-align: left;
    white-space: nowrap;
    color: var(--light-gray);
}

.footer__center form {
    padding-left: 6px;

}

textarea {
    resize: none;
}

#name, #e-mail {
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    padding-left: 22px;
}

#e-mail {
    letter-spacing: 2.7px;
}

#request {
    margin-bottom: 25px;
    padding: 22px;
    width: 100%;
    height: 150px;
    text-align: left;
    letter-spacing: 0.08px;
}

#name, #e-mail, #request {
    background: #414141;
    color: white;
}

.custom-checkbox {
    z-index: -1;
    opacity: 0;
}

.checkbox-label {
    color: var(--light-gray);
    padding-left: 7px;
    /* white-space: nowrap; */
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-gray);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: var(--light-gray);
    background-color: transparent;
    background-image: url(/img/Rectangle-44.svg);
}

#consent {
    color: var(--black);
}

.footer__right {
    margin-top: 130px;
    max-height: 330px;
    flex: 0 0 20.5%;
    overflow: hidden;
}

.footer__right__text {
    line-height: 32px;
    color: var(--light-gray);
    letter-spacing: -0.08px;
}

/* Button */
.btn_orange {
    color: var(--white);
    background: var(--orange);
}

.btn-slide {
    display: inline-block;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.2px;
    padding: 30px 38px;
}

.btn-border-color_orange {
    border: 1px solid var(--orange);
    color: var(--white);
}

.btn-border-color_gray {
    border: 1px solid var(--gray);
    color: var(--gray);
}

.btn-left__bottom {
    font-weight: 700;
    padding: 20px 38px;
    display: inline-block;
}

.btn-offer {
    padding: 20px 38px;
    margin-right: 30px;
    display: inline-block;
}

.btn-contract {
    padding: 20px 38px;
    display: inline-block;
}

.btn-request {
    font-weight: bold;
    padding: 20px 50px;
    white-space: nowrap;
}

.nav-toggle {
    display: none;
}

.bullet-box {
    display: flex;
    justify-content: space-between;
    width: 85px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 42px);
}

.bullet1, .bullet2, .bullet3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}

/* Hover */
.nav__link:hover {
    text-decoration: underline var(--orange);
    transition-duration: 0.3s;
}

.btn-search:hover {
    background-image: url(/img/Search_org.svg);
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-left__bottom:hover {
    background: var(--orange);
    transition-duration: 0.3s;
}

.btn-slide:hover, .btn-offer:hover, .btn-request:hover {
    background: rgba(255, 153, 0, 0.6);
    transition-duration: 0.3s;
}

.step-link:hover {
    color: var(--orange);
    transition-duration: 0.3s;
}

.step-list-item:first-child a {
    color: var(--orange);
}

.btn-contract:hover {
    background: var(--gray);
    color: var(--white);
    transition-duration: 0.3s;
}

.faq__list__item:hover {
    color: var(--orange);
    cursor: pointer;
    transition-duration: 0.3s;

}

.bullet1:hover, .bullet2:hover, .bullet3:hover {
    background: var(--white);
}

.cross:hover {
    cursor: pointer;
    color: var(--orange);
    transition-duration: 0.3s;
}

.cross:hover circle {
    fill: #d2d2d2;
    transition-duration: 0.3s;
}

.nav-toggle:hover {
    background-image: url(/img/Burger_hover.png);
    transition-duration: 0.3s;
}

:focus {
  outline: 2px solid red;
}

/* Шрифты */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}